---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mí"
	description=""
	pubDate={new Date('April 28 2025')}
	heroImage=""
>
	<p>
		¡Hola! Soy Albana, una persona curiosa, creativa y apasionada por la
		programación. Hace un tiempo decidí embarcarme en este mundo porque me
		fascina la idea de construir cosas desde cero, resolver problemas y aprender
		algo nuevo todos los días.
	</p>
	<p>
		Actualmente, estoy enfocándome en el desarrollo fullstack y cada proyecto,
		grande o pequeño, se convierte en una oportunidad para crecer. Estoy
		convencida de que aprender programación no es solo adquirir habilidades
		técnicas, sino también entrenar la paciencia, la creatividad y la
		perseverancia.
	</p>
	<p>
		Además de programar, me encanta jugar al voley, tejer al crochet, resolver
		el cubo rubik, trabajar de mesera, tocar el piano y ver gameplays de mis
		juegos favoritos. Creo que el equilibrio entre la vida personal y el
		aprendizaje constante es clave para disfrutar el proceso y no frustrarse en
		el camino.
	</p>
	<p>
		Este blog nació como una manera de documentar mis avances, mis errores, mis
		descubrimientos y, sobre todo, para recordarme a mí misma cuánto se puede
		lograr con constancia y entusiasmo.
	</p>
	<p>
		Mi objetivo es que este espacio también sea un pequeño impulso para vos o
		simplemente un lugar donde puedas conectar con otra desarrolladora :) Espero
		que lo disfrutes tanto como yo disfruto escribirlo.
	</p>
</Layout>
