---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} keywords='blog de programaci贸n, bit谩cora de desarrollo web, aprender a programar, proyectos de JavaScript, frontend para principiantes, experiencias en programaci贸n, desarrollo web desde cero, blog personal de c贸digo, programaci贸n autodidacta, diario de programadora' />
	</head>
	<body>
		<Header />
		<main>
			<h1>隆Bienvenido a mi blog de programaci贸n! 烩烩</h1>
			<p>
				Hola! Soy Albana y este espacio es mi bit谩cora de viaje en el mundo de la
				programaci贸n 
			</p>
			<p>
				Ac谩 voy a ir documentando lo que aprendo, los proyectos en los que trabajo, los
				desaf铆os que enfrento y todo lo que me emociona de este camino.
			</p>
			<p>
				M谩s que un blog perfecto, quiero que sea un lugar real: donde compartir avances,
				errores y peque帽os logros.
			</p>
			<p>隆Espero que encuentres inspiraci贸n y pueda acompa帽arte en tu propio recorrido!</p>
			<p>Gracias por estar ac谩 А</p>
			<hr />
			<p>
				Si queres saber m谩s sobre m铆, podes visitar mi
				<a href="/about">p谩gina de presentaci贸n</a>.
			</p>
			<p>
				Si quieres leer mis art铆culos, podes visitar la secci贸n de <a href="/blog">blog</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
